name: Publish Python Package

on:
    release:
        types: [published]
    push:
        branches: [master]

jobs:
    build-and-publish:
        runs-on: ubuntu-latest

        permissions:
            contents: read
            id-token: write

        steps:
            - uses: actions/checkout@v3
              with:
                  fetch-depth: 0

            - name: Set Up Python
              uses: actions/setup-python@v4
              with:
                  python-version: "3.14"

            - name: Install Build
              run: |
                  pip install setuptools wheel setuptools_scm==9.2.2
                  pip install build

            - name: Build Package
              run: |
                  TAG_NAME="${{ github.event.release.tag_name }}"
                  if [ -z "$TAG_NAME" ]; then
                      echo "No release tag found. Generating dev version."
                      VERSION="0.1.31.dev${{ github.run_number }}"
                  else
                      echo "GitHub Release Tag: $TAG_NAME"
                      VERSION=$(echo "$TAG_NAME" | sed 's/^v//')
                  fi

                  echo "Building Version: $VERSION"

                  export SETUPTOOLS_SCM_PRETEND_VERSION=$VERSION

                  python -m build --no-isolation

                  ls -la dist/

            - name: Publish Package To PyPI
              uses: pypa/gh-action-pypi-publish@release/v1
